*{
  box-sizing: border-box;
}

.list-vues  {
  width: 70%;
  display: flex;
  flex-flow: row wrap;
  font-family: sans-serif;
  outline: 1px solid green ;
}

.list-vue  {
  flex: 0 0 30%;
  //height: 20vh;
  // background-color: royalblue ;
  border: 1px solid white ;
  padding: 1vh;
  margin: 1vmin;
  list-style-type: none;
  font-size: 1.5rem;
  color: white;
  p{
    margin: 0;
    padding-top: 1vh;
    vertical-align: bottom;
  }
}
.list-vignette{
  position: relative;
  width: 100%;
  padding-bottom : 56%;
  background-size: cover;
  overflow: hidden;

}

.list-placeholder{
  opacity: 0.8 ;
}

.list-dragged{
  background-color: cyan ;
}

.list-vignette-visible{
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
	transform: translateY(-50%) translateX(-50%);

  &::before{
    content: 'O';
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 5vmax;
    border-radius: 50% ;
    height: 5vmax;
    z-index: -1;
    font-size: 4vmax;
    line-height: 1.15;
    color : darkblue ;
    border: thin solid ;
    background-color: white;
  }
  &:checked::before{
    content: 'X';
    background-color: cyan;
  }
}

.list-vignette-visible-input{
  position:absolute;
  clip: rect(0,0,0,0);
}

.list-ajouter{
  position: relative;
    display: flex;
    flex-flow: column nowrap;
    background-color: royalblue ;
    p{
      text-align: center;
    }
}
.list-ajouter-btn{
  flex: 1;
  line-height: 1.5;
  cursor: pointer;
  z-index: 1;

  &::before{
    content: '+';
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
  	transform: translateY(-50%) translateX(-50%);
    width: 5vmax;
    border-radius: 50% ;
    height: 5vmax;
    z-index: -1;
    font-size: 4vmax;
    line-height: 1.15;
    background-color: darkblue;
  }
}
